<footer>
  <p>{{ .Site.Params.description }}</p>
  <p><a href="{{ .Site.Params.githubUrl }}">Source on GitHub</a> | <a href="{{ .Site.Params.templatesUrl }}">Templates</a></p>
  <p class="social">
    <a href="https://twitter.com/" aria-label="Twitter"><svg class="icon"><use href="/icons.svg#icon-twitter"></use></svg></a>
    <a href="https://github.com/" aria-label="GitHub"><svg class="icon"><use href="/icons.svg#icon-github"></use></svg></a>
    <a href="mailto:hello@freelancer-automation.com" aria-label="Email"><svg class="icon"><use href="/icons.svg#icon-email"></use></svg></a>
  </p>
  <p class="credits">Images from <a href="https://unsplash.com" target="_blank">Unsplash</a>; icons are custom SVG.</p>
</footer>